# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/Java/com.mti.primitives/com.mti.primitives/nbproject/private/
/Java/Samples/ObjectiveMediaSample/ObjectiveMediaSample/nbproject/private/
/Java/com.mti.primitives/com.mti.primitives/build/
/Java/com.mti.primitives/com.mti.primitives/dist/
/Java/Samples/ObjectiveMediaSample/ObjectiveMediaSample/build/
/linux/ObjectiveMedia/nbproject/private/
/linux/ObjectiveMedia/build/Debug/
/Java/Samples/ObjectiveMediaSample/ObjectiveMediaSample/dist/
/linux/ObjectiveMedia/build/Debug64/